
.eme--api-attribution--root {
    .eme--api-attribution-detail {
        margin-left: 1em;

        p {
            margin: 0.3em 0;
        }
    }

}

.eme--thirdparty--nuget--package-copyright {
    pre {
        display: inline;
    }
}
