@inherits FluxorComponent

@if(AppLoading) {


    <MudOverlay @bind-Visible="AppLoading"  DarkBackground="true" ZIndex="9">

        <MudText Typo="Typo.h4" >@UpdateStatus</MudText>
        <div class="spinner"></div>

    </MudOverlay>
}
else
{
    @ChildContent
}

