
<MudPaper Elevation="2" Class="p-4">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12">
            <div class="d-flex justify-content-end">
                <MudText Class="@((showHeaderText) ? "mx-auto fw-bold" : "mx-auto fw-bold eme-popover-header-hide")" Align="Align.Center" Typo="Typo.h5">@OptionalHeaderText</MudText>
                <MudIconButton Class="m-0" Icon="@Icons.Material.Filled.Close" OnClick="CloseWizardCallback"></MudIconButton>
            </div>
        </MudItem>
        <MudItem xs="12">
            @SetupStepPage

        </MudItem>
        <MudItem xs="12">
            @ActionButtons
        </MudItem>
    </MudGrid>
</MudPaper>
@code {
    [Parameter] public string OptionalHeaderText { get; set; }

    [Parameter, EditorRequired] public EventCallback CloseWizardCallback { get; set; }

    [Parameter, EditorRequired] public RenderFragment SetupStepPage { get; set; }

    [Parameter, EditorRequired] public RenderFragment ActionButtons { get; set; }



    bool showHeaderText;
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        showHeaderText = OptionalHeaderText != null;
    }

}