@inherits FluxorComponent
@inject IDispatcher Dispatcher
@if (!Ready)
{
    <MudItem xs="12" sm="6" md="4">
        <MudText Typo="Typo.h5">@Status</MudText>
        <div class="spinner"></div>
    </MudItem>
} else {
    <MudItem xs="12" sm="6" md="4">
        <HistoricalAnalysisCard PrimaryHeatSource="false"
                                Term="_calendarTerm"
                                MeterType="MeterType"
                                DurationAnalysis="_previousDurationAnalysis">
        </HistoricalAnalysisCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <CurrentPeriodAnalysisCard PrimaryHeatSource="false"
                                   Term="_calendarTerm"
                                   MeterType="MeterType"
                                   CurrentPeriodForecastAnalysis="_currentTermForecastAnalysis"
                                   CurrentPeriodAnalysisToDate="_thisDurationAnalysis">
        </CurrentPeriodAnalysisCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <ForecastCard PrimaryHeatSource="false"
                      Term="_calendarTerm"
                      ForecastAnalysis="_nextTermForecastAnalysis"
                      MeterType="MeterType">
        </ForecastCard>
    </MudItem>

}

@code {

    [Parameter, EditorRequired]
    public MeterType MeterType { get; set; }


    [Inject]
    public IState<AnalysisOptionsState> AnalysisOptionsState { get; set; }


    [Inject]
    ISimpleForecastAnalyzer SimpleForecastAnalyzer { get; set; }

    [Inject]
    IHistoricalDurationAnalyzer HistoricalDataAnalyzer { get; set; }

    CalendarTerm _calendarTerm;

    HistoricalAnalysis _thisDurationAnalysis;
    HistoricalAnalysis _previousDurationAnalysis;

    ForecastAnalysis _currentTermForecastAnalysis;
    ForecastAnalysis _nextTermForecastAnalysis;
    public bool Ready { get; set; }
    public string Status { get; set; }

    protected override async Task OnParametersSetAsync()
    {

        var initialMeterAnalysisOptions = AnalysisOptionsState.Value[MeterType];

        Ready = false;

        await Task.Delay(1);
        Status = "Analyzing historical data...";

        _calendarTerm = initialMeterAnalysisOptions.CalendarTerm;
        await Task.Delay(1);

        SetHistoricalAnalyses();

        await Task.Delay(1);

        Status = "Analyzing forecast data...";

        switch (MeterType)
        {
            case MeterType.Electricity:

                SubscribeToAction<ElectricityAnalysisOptionsSetCalenderTermAction>(
                    action =>
                    {
                        _calendarTerm = action.CalendarTerm;
                        SetHistoricalAnalyses();
                        SetForecastAnalyses();
                    });
                break;
            case MeterType.Gas:

                SubscribeToAction<GasAnalysisOptionsSetCalenderTermAction>(
                    action =>
                    {
                        _calendarTerm = action.CalendarTerm;
                        SetHistoricalAnalyses();
                        SetForecastAnalyses();
                    });
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }

        await Task.Delay(1);

        SetForecastAnalyses();

        Ready = true;
    }



    void SetHistoricalAnalyses()
    {
        _thisDurationAnalysis = HistoricalDataAnalyzer.GetCurrentDurationAnalysis(MeterType, _calendarTerm);
        _previousDurationAnalysis = HistoricalDataAnalyzer.GetPreviousDurationAnalysis(MeterType, _calendarTerm);
    }

    void SetForecastAnalyses()
    {
        _currentTermForecastAnalysis = SimpleForecastAnalyzer.GetCurrentPeriodForecastTotals(MeterType, _calendarTerm);
        _nextTermForecastAnalysis = SimpleForecastAnalyzer.GetNextPeriodForecastTotals(MeterType, _calendarTerm);
    }

}