@page "/AttributionsAndLicense"
@using Energy.App.Standalone.Pages.HtmlContentFiles
<ExtendedPageTitle>Attributions &amp; Licensing</ExtendedPageTitle>
<div class="parent">
    <div class="banner"></div>
    <iframe src="/AttributionsAndLicense.html" ></iframe>
</div>


