@using Energy.App.Standalone.Pages.SetupWizard.StepContents
@using Energy.App.Standalone.Features.Setup.TermsAndConditions
@inherits FluxorComponent
<StepTemplate HeaderText="Welcome to Explain my Energy" CloseWizardCallback="CloseWizardCallback">
    <SetupStepPage>
        <WelcomeScreenContent>
        </WelcomeScreenContent>
    </SetupStepPage>
    <ActionButtons>
        <div class="d-flex justify-content-center">
            <MudButton Size="Size.Medium" Disabled="@(!CanMoveNext)" Color="Color.Primary" OnClick="GoToNextStageCallback">Start Wizard</MudButton>
            <MudButton Size="Size.Medium" Color="Color.Default" OnClick="CloseWizardCallback">Close</MudButton>
        </div>
    </ActionButtons>
</StepTemplate>
@code {

    bool CanMoveNext => TermsAndConditions.Value.Accepted;

    [Inject] IState<TermsAndConditionsState> TermsAndConditions { get; set; }


    [Parameter, EditorRequired] public EventCallback CloseWizardCallback { get; set; }

    [Parameter, EditorRequired] public EventCallback GoToNextStageCallback { get; set; }





}
