@using Energy.App.Standalone.Features;
@using Energy.App.Standalone.Features.EnergyReadings.Store;
@using Fluxor.Blazor.Web.Components;
@using Fluxor.Persist.Middleware;
@using System.Collections.Immutable;
@using static Energy.App.Standalone.Features.EnergyReadings.Store.GasReadingsReducers;
@inherits FluxorLayout
@inject IDispatcher Dispatcher

<MudThemeProvider Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <a href="/" style="text-decoration: none; color: inherit;"><MudText Typo="Typo.h5" Class="ml-3">Explain My Energy</MudText></a>
        <MudSpacer />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu></NavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudContainer>
            @Body

            @if (Ready)
            {
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="12">
                        <MudPaper Elevation="2" Class="m-3 mx-auto">
                            <MudText Typo="Typo.h5">@_status</MudText>
                            <MudProgressCircular StrokeWidth="8" Size="@Size.Large" Value="_progress" Color="Color.Primary">
                            </MudProgressCircular>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            }
        </MudContainer>
    </MudMainContent>
</MudLayout>


@code {

    [Inject] public IAppInitialization AppInitialization { get; set; }

    [Inject]
    public IState<AppInitializationState> AppInitializationState { get; set; }


    public bool Ready => (!AppInitializationState.Value.WaitingForWeatherData
                            && !AppInitializationState.Value.WaitingForElectricityReadingsData
                            && !AppInitializationState.Value.WaitingForGasReadingsData
                            && !AppInitializationState.Value.WaitingForLinearCoefficients);

    double _progress = 10;
    string _status = "App initializing";

    protected override void OnInitialized()
    {

        

        this.SubscribeToAction<InitializePersistMiddlewareResultSuccessAction>(result =>
        {

            Console.WriteLine($"**** State rehydrated ****");
            _progress += 20;


            this.StateHasChanged();// we now have state, we can re-render to reflect binding changes


        });

    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (!firstRender)
        {
            return;
        }

        


        SubscribeToAction<InitializeAppAction>(result =>
        {
            Console.WriteLine($"**** Initializing App ****");

            _status = "App initializing";

            AppInitialization.Initialize();
            _progress += 10;

        });

        SubscribeToAction<NotifyWeatherReadingsLoadedAction>(result =>
        {
            Console.WriteLine("NotifyWeatherReadingsLoadedAction");

            _status = "Weather data loaded";
            _progress += 10;

        });

        SubscribeToAction<NotifyElectricityCostsCalculationCompletedAction>(result =>
        {
            Console.WriteLine("NotifyElectricityCostsCalculationCompletedAction");

            _status = "Electricity data loaded" + (result.Failed ? "" : " with costs");
            _progress += 10;

        });

        SubscribeToAction<NotifyGasCostsCalculationCompletedAction>(result =>
        {
            Console.WriteLine("NotifyGasCostsCalculationCompletedAction");

            _status = "Gas data loaded" + (result.CalculationError ? "" : " with costs");
            _progress += 10;

        });

        SubscribeToAction<NotifyLinearCoeffiecientsReadyAction>(result =>
        {
            Console.WriteLine("NotifyLinearCoeffiecientsReadyAction");
            _status = "Initial forecast analysis completed";
            _progress += 10;

        });

        Dispatcher.Dispatch(new InitializeAppAction());
    }



    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private readonly MudTheme _theme = new()
        {
            Palette = new Palette()
            {
                Secondary = Colors.Orange.Lighten1,
                SecondaryContrastText = Colors.Shades.White,
                Tertiary = Colors.Orange.Darken4
            }
        };


}
