<div class="mb-15">
    <h4 class="eme-focus">Privacy Policy for <strong>Explain My Energy</strong></h4>
    <h4>Effective date: 25th July 2023</h4>
    <h5>1. Introduction</h5>
    <p>Welcome to Explain My Energy. This Privacy Policy describes how we handle information when you use our web application. By accessing or using our services, you agree to the terms and practices described in this policy.</p>

    <h5>2. Information We Collect</h5>
    <p>We do not collect any personal information from you on our servers. However, our web application may store the following information locally in your browser's storage:</p>
    <ul>
        <li>Postal Area (the first 3 or 4 characters of your postcode, e.g. NW1, CF24, etc.)</li>
        <li>Smart Meter MAC ID (also known as the GUID or EUI)</li>
        <li>Electricity Meter MPAN (Meter Point Administration Number)</li>
        <li>Gas Meter MPRN (Meter Point Reference Number)</li>
        <li>The date you moved into your place of residence</li>
        <li>Your energy usage history</li>
        <li>Your energy tariff details</li>
    </ul>
    <p>Please note that we do not have access to this information, and it remains solely within your control on your device.</p>

    <h5>3. How We Use Your Information</h5>
    <p>As we do not collect or control the information stored in your browser, we do not use it for any purposes. It is solely available to you on your device.</p>

    <h5>4. Data Security</h5>
    <p>
        We take appropriate measures to protect the security of our web application. However, since we do not have access to the personal information stored in your browser, we cannot guarantee the security of that data.
    </p>
    <p>
        We recommend you use established security practices to protect your device, such as keeping your operating system and browser up to date, and using a firewall and antivirus software where appropriate, especially if you are using a Windows operating system.
    </p>

    <h5>5. Data Retention</h5>
    <p>As we do not control the data stored in your browser, you have full control over how long it is retained. </p>
    <p>You can change this information in the <a href="/Setup">setup page</a>, which also has a button to completely wipe all existing data stored, putting the application back into fresh state.</p>
    <p>Please note this will require all setup steps to be completed again.</p>

    <h5>6. Data Sharing and Disclosure</h5>
    <p>Since we do not collect or control the personal information stored in your browser, we do not share or disclose it to any third parties. </p>
    <p>Note this application is essentially a wrapper that provides analysis of existing energy data made available by the user. Users can obtain their energy data from the consumer service offered by <a href="https://www.n3rgy.com/consumer/" target="_blank">n3rgy</a>,</p>

    <p>n3rgy require you provide your Smart Meter MAC ID and Meter MPAN/MPRN numbers as authenticity to gain access to your historical energy data they hold.</p>

    <p>The application helps guide the you through this process of authentication, but the authentication process is performed solely between you and n3rgy.</p>

    <p>After authenticating, the energy data accessed is only provided to the application running in your browser.</p>
    <p>As such, we do not have access to your energy data, and it remains solely within your control on your device.</p>
    <p>For more information on how n3rgy handle your data, please refer to <a href="https://www.n3rgy.com/privacy/" target="_blank">their privacy policy</a>.</p>

    <h5>7. Application Performance Monitoring and Logging</h5>
    <p>
        At present, we do not implement any application performance monitoring. However, we may introduce this at a later date purely for resolving issues and improving the application's performance.
        If we implement such services in the future, this privacy policy will be updated accordingly, and you will be notified of any changes. This data is anonymous and will only contain data on application errors and usage, and will not collect any user-related data such as energy readings.
        It will be possible to opt-out of this service.
    </p>

    <h5>8. Your Rights</h5>
    <p>As the data stored in your browser is under your control, you have the right to access, correct, or delete this information.</p>
    <p>As described above, you can change this information in the <a href="/Setup">setup page</a>, as well as delete it completely.</p>
    <p>You can also use the mechanisms provided by your browser to view, change or delete this data.</p>
    <p>The application uses local storage - in Chrome and Edge, for example, you can view, change or delete this data by opening the developer tools (F12), and navigating to the Application tab, where you will see Local Storage. You must also be on the Explain My Energy page to see this data.</p>
    
    <h5>9. Changes to this Privacy Policy</h5>
    <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the updated policy on the application. We encourage you to review this policy periodically to stay informed about how we handle your information.</p>

    <h5>10. Contact Us</h5>
    <p>If you have any questions or concerns regarding this privacy policy, please contact us at <a href="mailto:explainmyenergy@solores-software.net">explainmyenergy@solores-software.net</a> </p>
</div>