<h4 class="eme-focus">TERMS AND CONDITIONS</h4>

<p>These terms and conditions (the "Terms and Conditions") govern the use of <i>explainmyenergy.net</i> (the "Site"). The "Site" is not limited to <i>explainmyenergy.net</i>, it includes: any subdomains of <i>explainmyenergy.net</i>; other domains used for feature development and testing, and any site domain built from source code held in the GitHub repository <a href="https://github.com/zola-25/Explain-My-Energy">https://github.com/zola-25/Explain-My-Energy</a></p>
<p>This excludes sites built from the source code of any repository fork created independently by other individuals from <a href="https://github.com/zola-25/Explain-My-Energy">https://github.com/zola-25/Explain-My-Energy</a></p>
<p>By using this Site, you indicate that you have read and understand these Terms and Conditions and agree to abide by them at all times.</p>
<p>This Site is a serverless, standalone web application.</p>

<h5>Intellectual Property</h5>
<p>All designs, features and applications made available on our Site, as well as the source code at <a href="https://github.com/zola-25/Explain-My-Energy">https://github.com/zola-25/Explain-My-Energy</a>, is licensed under the open-source GNU Affero General Public License version 3 (AGPLv3).</p>

<h5>Acceptable Use</h5>
<p>As a user of our Site, you agree to use our Site legally, not to use our Site for illegal purposes, and not to:</p>
<ul>
    <li>Violate the intellectual property rights of any Third Party to the Site;</li>
    <li>Act in any way that could be considered fraudulent;</li>
    <li>Abuse of Third-Party free-to-consumer APIs, including, but not limited to, n3rgy.com, open-meteo.com, postcodes.io;</li>
    <li>Violate any conditions of the Apache License 2.0;</li>
    <li>Site imitation, domain spoofing, or any such method that facilitates Phishing attacks;</li>
</ul>

<p>If we believe you are using our Site illegally or in a manner that violates these Terms and Conditions, we reserve the right to limit, suspend or terminate your access to our Site. We also reserve the right to take any legal steps necessary to prevent you from accessing our Site.</p>

<h5>Third Party Services</h5>
<p>Our Site uses services from third parties. We cannot guarantee the quality or accuracy of goods and services made available by third parties on our Site.</p>

<h5>Data accessed from Third Party Services</h5>
<p>This Site provides analysis of existing energy data provided by the user. Users can obtain their energy data from the consumer service offered by n3rgy.com after authenticating with the service.</p>

<p>While the Site helps guide the user through this process of authentication, by using the Site you acknowledge that you are explicitly performing the authentication process yourself, and the Site is not acting on your behalf.</p>

<p>After authenticating and gaining access to your energy data, the Site provides functionality to automate the process of retrieving your energy data. By using the Site you acknowledge that you are explicitly accessing your own energy data that you then willingly provide to the Site's application code running in your browser.</p>


<h5>Links to Other Websites</h5>
<p>Our Site contains links to third party websites or services that we do not own or control. We are not responsible for the content, policies, or practices of any third party website or service linked to on our Site. It is your responsibility to ensure compliance with the terms and conditions and privacy policies of these third party websites before using these sites.</p>

<h5>Limitation of Liability</h5>
<p>The Developer of the Site, along with any contributors, associates, or affiliates, will not be liable for any actions, claims, losses, damages, liabilities and expenses including legal fees from your use of the Site.</p>

<h5>Indemnity</h5>
<p>Except where prohibited by law, by using this Site you indemnify and hold harmless the Site Developer, along with any contributors, associates, or affiliates, from any actions, claims, losses, damages, liabilities and expenses including legal fees arising out of your use of our Site or your violation of these Terms and Conditions.</p>

<h5>Applicable Law</h5>
<p>These Terms and Conditions are governed by the laws of the Countries of England and Wales.</p>

<h5>Severability</h5>
<p>If at any time any of the provisions set forth in these Terms and Conditions are found to be inconsistent or invalid under applicable laws, those provisions will be deemed void and will be removed from these Terms and Conditions. All other provisions will not be affected by the removal and the rest of these Terms and Conditions will still be considered valid.</p>

<h5>Changes</h5>
<p>These Terms and Conditions may be amended from time to time in order to maintain compliance with the law and to reflect any changes to the way we operate our Site and the way we expect users to behave on our Site. We will notify users of changes to these Terms and Conditions by posting a notice on our Site.</p>

<h5>Contact Details</h5>
<p>Please contact us if you have any questions or concerns. Our contact details are as follows:</p>
<p>Email: <a href="mailto:explainmyenergy@solores-software.net">explainmyenergy@solores-software.net</a></p>

<p>Effective Date: 25th day of July, 2023</p>