@using Energy.App.Standalone.Pages.HtmlContentFiles
@inject AppStatus AppStatus

<MudPaper Class="pa-5">
    <MudText Typo="Typo.body1" Align="Align.Start">
        <div class="welcome-screen-content">
            <p>
                <strong>Explain My Energy</strong> is a free, open-source web application, for UK users, to help understand both existing
                energy bills and forecast future energy costs and consumption. Full documentation is available at <MudLink Target="_blank" Href="https://docs.explainmyenergy.net">docs.explainmyenergy.net <i aria-hidden="true" class="fa-solid fa-external-link fa-xs"></i></MudLink>
            </p>
            <ul>

                @if (AppStatus.IsDemoMode)
                {
                    <li>This is a <strong>Demo Version</strong> of the app, with example data. No setup functionality is available, instead you can explore the app and see the analysis and typical setup data required.</li>
                    <li>The live version, with full functionality, is available at <MudLink Href="https://explainmyenergy.net">explainmyenergy.net</MudLink></li>
                }
                else
                {

                    <li>To view a demo version, with setup pre-configured with example data, go to <MudLink Href="https://demo.explainmyenergy.net">demo.explainmyenergy.net</MudLink></li>
                }


                <li>
                    <strong>This is a hobby project, and a beta version of the application.</strong>
                    Feel free to raise an issue in the <MudLink Target="_blank" Href="https://github.com/zola-25/Explain-My-Energy">GitHub Repo <i aria-hidden="true" class="fa-solid fa-external-link fa-xs"></i></MudLink> or email me at <MudLink Href="mailto:explainmyenergy@solores-software.net">explainmyenergy@solores-software.net</MudLink>
                </li>

                <li>
                    <MudLink aria-haspopup="dialog"
                             OnClick="ShowTermsDialog">Terms &amp; Conditions</MudLink> and <MudLink OnClick="ShowPrivacyDialog" aria-haspopup="dialog">Privacy Policy</MudLink>
                </li>
                <li>
                    <strong>Acknowledgements:</strong> This app functions thanks to <MudLink Target="_blank" Href="https://www.amcharts.com">amcharts5 <i aria-hidden="true" class="fa-solid fa-external-link fa-xs"></i></MudLink>, <MudLink Target="_blank" Href="https://www.n3rgy.com/consumer/">n3rgy.com <i aria-hidden="true" class="fa-solid fa-external-link fa-xs"></i></MudLink>, <MudLink Target="_blank" Href="https://open-meteo.com">open-meteo.com <i aria-hidden="true" class="fa-solid fa-external-link fa-xs"></i></MudLink>, <MudLink Target="_blank" Href="https://postcodes.io">postcodes.io <i aria-hidden="true" class="fa-solid fa-external-link fa-xs"></i></MudLink>
                </li>
            </ul>

            <MudDialog @bind-IsVisible="TermsDialogVisible" Options="DialogOptions" ClassActions="d-flex justify-center">

                <DialogContent>
                    <TermsAndConditionsContents />
                </DialogContent>
                <DialogActions>
                    <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Default" OnClick="CloseTermsDialog">
                        Close
                    </MudButton>
                </DialogActions>
            </MudDialog>

            <MudDialog @bind-IsVisible="PrivacyDialogVisible" Options="DialogOptions" ClassActions="d-flex justify-center">

                <DialogContent>
                    <PrivacyPolicyContents />
                </DialogContent>
                <DialogActions>
                    <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Default"
                               OnClick="ClosePrivacyDialog">Close</MudButton>
                </DialogActions>
            </MudDialog>

            <p><strong>Getting Started</strong></p>

            @if (AppStatus.IsDemoMode)
            {
                <p>Feel free to explore the application - from the Side Menu you can access the analysis and setup pages</p>
            }
            else
            {
                <ul class="ml-3">
                    <li>The Setup Wizard provides a simple step-by-step process to configuring the application.</li>
                    <li>Otherwise feel free to explore the application and set up your home and meters manually.</li>
                </ul>
            }
        </div>

    </MudText>

</MudPaper>
@code {


    bool TermsDialogVisible;
    void CloseTermsDialog() => TermsDialogVisible = false;
    void ShowTermsDialog() => TermsDialogVisible = true;

    private DialogOptions DialogOptions = new()
        {
            MaxWidth = MaxWidth.Medium,
            CloseOnEscapeKey = true,
            CloseButton = true
        };

    bool PrivacyDialogVisible;
    void ClosePrivacyDialog() => PrivacyDialogVisible = false;
    void ShowPrivacyDialog() => PrivacyDialogVisible = true;

}
